body {
  text-align: center;
  width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
  text-align: center;
}

#uploader {
    margin: auto;
    padding-bottom: 30px;
}