body {
  text-align: center;
  width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery img{
  margin-left: 35%;
  text-align: center;
  width: 30%;
}

footer {
  text-align: center;
}

#uploader {
    margin: auto;
    padding-bottom: 30px;
}

.automar {
    margin: auto;
}

.small-pad {
    padding: 5px;
}

#banner_image {
  width: 100%;
  height: 200px;
  background-image: url("pjimage.jpg");
  background-position: center;
  margin-bottom: 2%;
}