{% load crispy_forms_tags %}

<form class="form-horizontal" method="POST" action="{% url 'Media:loginUser' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{request.get_full_path}}">

    {% if error %}
        <div class="form-group">
            <p class="form-control-static text-danger">
                {{ error }}
            </p>
        </div>
    {% endif %}

    {{ loginForm | crispy }}

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="submit">
    </div>
</form>
