{% extends "page.html" %}

{% block title %}Help Page{% endblock %}


{% block css %}
    {{block.super}}
{% endblock %}
{% block js %}
    {{block.super}}
{% endblock %}


{% block cont %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SeeFood</title>

    <!-- Bootstrap core CSS -->
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">   
  </head>

  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Help</h1>       
      </div>
    </div>

      <hr>
      <footer>
        <p>&copy; 2017 SeeFood, Inc.</p>
      </footer>
   
  </body>
</html>


{% endblock cont %}
