{% extends "page.html" %}

{% block title %}SeeFood{% endblock %}


{% block css %}
    {{block.super}}
{% endblock %}
{% block js %}
    {{block.super}}
{% endblock %}


{% block cont %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <div class="jumbotron">
        <div class="container">
          <h1>SeeFood</h1>
          <p>Welcome to SeeFood! This website is used to upload images and determine
          if the image is a picture of food or not a picture of food!</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Upload</h2>
            <p>Choose a photo (or take one from your camera) to upload and be analyzed </p>
            <p><a class="btn btn-default" href="/upload" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Camera Upload</h2>
            <p>Previously uploaded pictures and their scores.</p>
            <p><a class="btn btn-default" href="/upload_from_cam" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <h2>Gallery</h2>
            <p>Use this page if you want to know how to use the application</p>
            <p><a class="btn btn-default" href="/gallery" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div> <!-- /container -->

    </div>
  </div>
</div>
        
<hr>
<footer>
  <p>&copy; 2017 SeeFood, Inc.</p>
</footer>

{% endblock cont %}
