{% extends "page.html" %}

{% block title %}{{current.title}} - Imgur{% endblock %}


{% block css %}
    {{block.super}}
{% endblock %}


{% block js %}
{{block.super}}
{% endblock %}


{% block cont %}
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            {%if prevPost%}
            <a class="btn btn-default" href="{% url 'Media:gallery' prevPost.id %}"><span class="fa fa-arrow-left" aria-hidden="true"></span>Previous</a>
            {%endif%}
            {% if nextPost%}
            <a class="btn btn-default" href="{% url 'Media:gallery' nextPost.id %}"><span class="fa fa-arrow-right" aria-hidden="true"></span>Next</a>
            {%endif%}
        </div>
    </div>
    <div class="col-sm-12">
    {% for photo in current.photos.all %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="img-rounded">
                        <img  src="{{ photo.file.url }}" class="img-responsive center-block" alt="img">
                    </div>
                </div>
            </div>
        {% if forloop.last%}
            <div class="panel panel-default panel-body">
                <div class="col-sm-4">
                    <p> Submitted by: {{current.owner}}
                </div>

                <div class="col-sm-4 text-center">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-arrow-down"></i>
                    </button>
                    Score: {{current.score}}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        {%endif%}
        <br>
    {% endfor %}
    </div>
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <u>Comments</u>
            </div>
            <div class="panel-body">

                {% for comment in current.comments.all %}
                <div class="row">
                    <div class="col-sm-1">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                    </div>
                    <div class="col-sm-11">
                        <div class="well well-sm content">
                            <ul class="list-inline metadata">
                                <li>
                                    Submitted by:&nbsp; <u>{{current.owner}}</u>
                                </li>
                                <li>
                                    Score:&nbsp; {{current.score}}
                                </li>
                                <li>
                                    Submitted on: &nbsp;{{comment.added_on}}
                                </li>
                            </ul>
                            <div class="well well-sm" style="word-wrap: break-word;">
                                <p> {{forloop.counter}}.  &nbsp;{{comment.comments}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
